<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <connectionStrings>
    <add name="teacher" connectionString="Data Source=DESKTOP-FQF7G0T\SQLEXPRESS;Initial Catalog=TEACHER_MANAGEMENT;Integrated Security=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
